/*☑️ FONT */
body {
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ☑️ PRIMO BOX*/

/* SPACE-BETWEEN per distribuire gli elementi figli lungo l'asse principale del contenitore flessibile */
/* ALIGN-ITEMS: center;per assicurare che i contenuti all'interno del box siano ancora allineati verticalmente al centro.  */
/* Con POSITION-FIXIED FISSIAMO IL box */

.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #ffc017;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Assicura che il box sia sovrapposto agli altri contenuti */
  border-bottom: 1px solid black;
  padding-top: 20px;
}

.logo {
  height: 38%;
  margin-left: 124px;
}

/* ALIGN-CENTER: center per allineare verticalmente gli elementi figli all'interno del contenitore flessibile. */

.menu {
  display: flex;
  align-items: center;
  margin-right: 84px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: black;
}

.get-started-btn {
  background-color: #191919;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

/* PER FAR CAMBIARE IL COLORE AL PRIMO BOX  E AL BOTTONE*/

.cambiocolore {
  background-color: white;
}

.cambiocoloreBottone {
  background-color: green;
}

/* ☑️ SECONDO BOX*/
.box2 {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding-top: 20px;
  position: relative;
  padding: 89px 19px;
}

/* STILE LETTERE M */
.moving-letters {
  position: absolute; /* Posizionamento assoluto rispetto al contenitore del secondo box */
  transform: translateY(-50%); /* Per posizionare verticalmente il div al centro del secondo box */
  right: 34px;
  padding-bottom: 266px;
}

/* ----- */

.box2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 124px;
}

.box2-content h1 {
  font-size: 36px;
  margin-bottom: 40px;
  font-size: 100px;
  margin-top: 82px;
}

.box2-content p {
  font-size: 22px;
  margin-bottom: 40px;
}

.start-reading-btn {
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  padding: 9px 53px;
  font-size: 19px;
}

h1,
p,
button {
  margin-left: 10px;
}

p {
  color: #191919;
}

/* ☑️ TERZO BOX CON ARTICOLI ORIZZONTALI*/

.box3 {
  background-color: white;
  border-bottom: 1px solid rgba(142, 142, 142, 0.679);
  padding-top: 20px;
}

.article-title h2 {
  font-size: 16px;
  font-weight: bold;
}

.article-section {
  padding: 50px 0;
  margin-left: 142px;
}

.article-title {
  display: flex;
  align-items: center;
}

.small-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.article-title h2 {
  font-size: 24px;
  color: #000;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  align-items: center;
}

.article-image {
  width: auto;
  height: 28px;
  margin-right: 10px;
}

.article-content {
  flex-grow: 1; /* Per far espandere il contenuto per occupare lo spazio disponibile */
}

.article h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.article-number {
  font-size: 28px;
  color: #ccc;
  margin-right: 10px;
  font-weight: bold;
  margin-left: -7px;
}

/* /☑️ QUARTO BOX - ARTICOLI INCOLONNATI E TOPICS*/

.box4 {
  display: flex;
  justify-content: space-around;
  margin-top: 56px;
}

.box4-article {
  flex: 0 0 57%;
}

.box4-topics {
  flex: 0 0 20%;
  width: 100%;
  height: 250px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.box4-article-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.box4-author {
  display: flex;
  align-items: center; /* Allineo gli elementi verticalmente */
  font-size: 11px;
  font-weight: bold;
  opacity: 0.8;
}

.image-container {
  margin-right: 10px; /* Aggiungo spazio tra l'immagine e il titolo */
}

.round-image {
  border-radius: 50%;
  height: 31px;
}

.box4-icons {
  display: flex;
  justify-content: space-between;
}

.box4-article-row-image img {
  height: 150px;
  margin-left: 20px;
}

.box4-topics button {
  background-color: white;
  color: black;
  padding: 9px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* TOPICS */
.box4-topics-link {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 10px;
}

.box4-topics-link a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.box4-topics-buttons {
  border-bottom: 1px solid black;
  padding-top: 20px;
  opacity: 0.6;
}

.box4-topics h2 {
  font-size: 11px;
  font-weight: bold;
}

.titolo {
  font-weight: bold;
  margin-bottom: 4px;
}

.paragrafo {
  margin-bottom: 5px;
  opacity: 0.6;
}

.box4-icons-1 {
  opacity: 0.6;
}
